Options -Indexes
RewriteEngine on
RewriteRule 2005/10/austin-games-co.php http://www.nonpolynomial.com/2005/11/01/austin-games-conference-days-0-and-1-not-so-live-blogged [R,L]
RewriteRule 2007/07/kyle-siggraph-2.php http://www.nonpolynomial.com/2007/07/19/kyle--siggraph-2007 [R,L]
RewriteRule 2007/02/i-thought-about.php http://www.nonpolynomial.com/2007/02/15/i-thought-about-my-space-and-it-really-got-me-down [R,L]
RewriteRule 2007/06/fwiktr-v011.php http://www.nonpolynomial.com/2007/06/28/fwiktr-v011 [R,L]
RewriteRule 2006/06/conference-and.php http://www.nonpolynomial.com/2006/06/06/conference-and-moving-updates [R,L]
RewriteRule 2008/01/arse-elektronika-presentation.php http://www.nonpolynomial.com/2008/01/06/arse-elektronika-presentation [R,L]
RewriteRule 2007/07/fwiktr-v02.php http://www.nonpolynomial.com/2007/07/09/fwiktr-v02 [R,L]
RewriteRule 2005/11/photos-from-aus.php http://www.nonpolynomial.com/2005/11/19/photos-from-austin-games-conference [R,L]
RewriteRule 2007/09/searle-would-be-proud.php http://www.nonpolynomial.com/2007/09/19/searle-would-be-proud [R,L]
RewriteRule 2005/09/the-revolution.php http://www.nonpolynomial.com/2005/09/21/the-revolution-controller-and-genre-innovation [R,L]
RewriteRule 2007/06/fwiktr-v01.php http://www.nonpolynomial.com/2007/06/23/fwiktr-v01 [R,L]
RewriteRule 2008/02/wiiyo-project-update.php http://www.nonpolynomial.com/2008/02/10/wiiyo-project-update [R,L]
RewriteRule 2007/04/off-to-gdx.php http://www.nonpolynomial.com/2007/04/25/off-to-gdx [R,L]
RewriteRule 2008/04/kinematics-a-less-than-relaxing-hobby.php http://www.nonpolynomial.com/2008/04/15/kinematics-a-less-than-relaxing-hobby [R,L]
RewriteRule 2008/01/twittercore-generative-internet-noise.php http://www.nonpolynomial.com/2008/01/06/twittercore-generative-internet-noise [R,L]
RewriteRule 2006/03/programming-lan.php http://www.nonpolynomial.com/2006/03/06/programming-languages-as-relationships [R,L]
RewriteRule 2008/09/99-dollar-novint-falcons-at-tigerdirect.php http://www.nonpolynomial.com/2008/09/05/99-dollar-novint-falcons-at-tigerdirect [R,L]
RewriteRule 2008/04/libusb-libftdi-latency-and-my-own-stupid.php http://www.nonpolynomial.com/2008/04/29/libusb-libftdi-latency-and-my-own-stupidity [R,L]
RewriteRule 2008/11/np-labs-projects-update.php http://www.nonpolynomial.com/2008/11/02/np-labs-projects-update [R,L]
RewriteRule 2007/11/search-analysis-1.php http://www.nonpolynomial.com/2007/11/18/search-analysis-1 [R,L]
RewriteRule 2008/03/everything-i-know-about-the-novint-falcon.php http://www.nonpolynomial.com/2008/03/25/everything-i-know-about-the-novint-falcon-as-of-march-2008 [R,L]
RewriteRule 2005/05/the-open-source.php http://www.nonpolynomial.com/2005/05/15/the-open-source-gym [R,L]
RewriteRule 2007/07/led-casserole.php http://www.nonpolynomial.com/2007/07/20/led-casserole [R,L]
RewriteRule 2008/02/upcoming-conference-list.php http://www.nonpolynomial.com/2008/02/18/upcoming-conference-list [R,L]
RewriteRule 2005/10/exercise-vg.php http://www.nonpolynomial.com/2005/10/06/exercise-and-video-games-a-brief-history [R,L]
RewriteRule 2005/09/glink-do-you-fe.php http://www.nonpolynomial.com/2005/09/06/g-link-do-you-feel-the-way-we-feel [R,L]
RewriteRule 2008/01/wiiyo-ir-led-yoyo-wiimote.php http://www.nonpolynomial.com/2008/01/13/wiiyo-ir-led--yoyo--wiimote [R,L]
RewriteRule 2006/10/265-drawers-of.php http://www.nonpolynomial.com/2006/10/22/265-drawers-of-fun [R,L]
RewriteRule 2006/05/escape.php http://www.nonpolynomial.com/2006/05/02/escape [R,L]
RewriteRule 2005/09/hooky-input-inj.php http://www.nonpolynomial.com/2005/09/09/hooky-input-injection-in-second-life [R,L]
RewriteRule 2005/10/lifecycle-first.php http://www.nonpolynomial.com/2005/10/03/lifecycle-v10-first-life-locomotion-in-second-life [R,L]
RewriteRule 2007/09/rip-numberporncom.php http://www.nonpolynomial.com/2007/09/02/rip-numberporncom [R,L]
RewriteRule 2005/10/motorcycle-cont.php http://www.nonpolynomial.com/2005/10/05/motorcycle-game-controls-from-honda [R,L]
RewriteRule 2008/05/video-from-futuristic-music-design-conte.php http://www.nonpolynomial.com/2008/05/18/video-from-futuristic-music-design-contest-at-yuris-night [R,L]
RewriteRule 2008/04/direct-kinematics-simulator-for-the-novi.php http://www.nonpolynomial.com/2008/04/18/direct-kinematics-solver-for-the-novint-falcon [R,L]
RewriteRule 2007/07/poor-fwiktr-so.php http://www.nonpolynomial.com/2007/07/01/poor-fwiktr-so-sick-of-the-iphone [R,L]
RewriteRule 2005/10/existential-prims-questioning-life-the-universe-and-prim-count.php http://www.nonpolynomial.com/2005/10/03/existential-prims-questioning-life-the-universe-and-prim-count [R,L]
RewriteRule 2005/09/eyesore-real-ti-1.php http://www.nonpolynomial.com/2005/09/06/eyesore-real-time-3d-projection-in-sl [R,L]
RewriteRule 2005/12/kyle-to-speak-a.php http://www.nonpolynomial.com/2006/01/27/kyle-to-speak-at-sxsw-gdc-sigchi-sigconf [R,L]
RewriteRule 2008/04/speaking-at-leather-leadership-conferenc.php http://www.nonpolynomial.com/2008/04/09/speaking-at-leather-leadership-conference-this-weekend [R,L]
RewriteRule 2008/01/27-a-year-in-brief-review.php http://www.nonpolynomial.com/2008/01/16/27-a-year-in-brief-review [R,L]
RewriteRule 2008/06/falcon-uncasing.php http://www.nonpolynomial.com/2008/06/07/falcon-uncasing [R,L]
RewriteRule 2007/02/im-alive-i-thin.php http://www.nonpolynomial.com/2007/02/06/im-alive-i-think [R,L]
RewriteRule 2008/05/solidedge-simulation-of-the-novint-falco.php http://www.nonpolynomial.com/2008/05/24/solidedge-simulation-of-the-novint-falcon [R,L]
RewriteRule 2008/03/that-thingy-that-feels.php http://www.nonpolynomial.com/2008/03/17/that-thingy-that-feels [R,L]
RewriteRule 2005/09/sports-training.php http://www.nonpolynomial.com/2005/09/29/sports-training-equipment-using-haptic-feedback [R,L]
RewriteRule 2006/01/25-in-over-my-h.php http://www.nonpolynomial.com/2006/01/16/25---in-over-my-head [R,L]
RewriteRule 2008/04/libnifalcon-v02-and-np-nifalcon-maxpd-pa.php http://www.nonpolynomial.com/2008/04/05/libnifalcon-v02-and-np_nifalcon-maxpd-patches-finished [R,L]
RewriteRule 2006/01/okc-newspaper-a.php http://www.nonpolynomial.com/2006/01/27/okc-newspaper-article-on-lifecycle [R,L]
RewriteRule 2009/05/new-projects-at-np-labs.php http://www.nonpolynomial.com/2009/05/03/new-projects-at-np-labs [R,L]
RewriteRule 2007/09/gesture-based-light-control-using-handvu.php http://www.nonpolynomial.com/2007/09/03/gesture-based-light-control-using-handvu [R,L]
