<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>A Day at the Ports
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2009
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Short Description</h2>
<div class="outline-text-2" id="text-3">

<p>iPhone film pieces with generative audio
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Medium</h2>
<div class="outline-text-2" id="text-4">

<p>Digital Video
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Tools</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>Video: iPhone 3GS Camera
</li>
<li>Audio: rjdj iPhone app
</li>
<li>Video Editing: Final Cut Pro
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Videos</h2>
<div class="outline-text-2" id="text-6">

<ul>
<li><a href="http://vimeo.com/6451589">A Headless Sutro @ Vimeo</a>
</li>
<li><a href="http://vimeo.com/6451349">Construction from Far Away @ Vimeo</a>
</li>
</ul>

</div>
</div>
