<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Biometric Presentation
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2009
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Short Description</h2>
<div class="outline-text-2" id="text-3">

<p>Presentation software that displays biometrics of presenter
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Source</h2>
<div class="outline-text-2" id="text-4">

<ul>
<li><a href="http://www.github.com/qdot/biometric-presentation">Git Repo @ Github</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Medium</h2>
<div class="outline-text-2" id="text-5">

<p>Digital Art, Conceptual Art
</p></div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Tools</h2>
<div class="outline-text-2" id="text-6">

<ul>
<li>Programming: Max/MSP
</li>
<li>Hardware: Lightstone, Neurosky EEG
</li>
</ul>

</div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Exhibitions</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li>Arse Elektronika 2009, San Francisco, CA
</li>
</ul>

</div>
</div>
