<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Copernicus Rover
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Company</h2>
<div class="outline-text-2" id="text-2">

<p><a href="http://www.kipr.org">KISS Institute for Practical Robotics</a>
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Lead</h2>
<div class="outline-text-2" id="text-3">

<ul>
<li>David Miller
</li>
</ul>

</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Collaborators</h2>
<div class="outline-text-2" id="text-4">

<ul>
<li>Tim Hunt
</li>
<li>Matt Roman
</li>
<li>Alois Winterholler
</li>
</ul>


</div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Year</h2>
<div class="outline-text-2" id="text-5">

<p>2004
</p></div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Short Description</h2>
<div class="outline-text-2" id="text-6">

<p>Research rover for Copernicus Mission proposal. 
</p></div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Tools</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li>C/C++
</li>
<li>OpenGL
</li>
<li><a href="http://www.elphel.com">Elphel Cameras</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-8" class="outline-2">
<h2 id="sec-8">Images</h2>
<div class="outline-text-2" id="text-8">

<p><a href="http://www.flickr.com/photos/qdot76367/sets/72157594558988946/">Amboy Crater Rover Mission @ Flickr</a>
</p>
</div>
</div>
