<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Career </h2>
<div class="outline-text-2" id="text-1">


<A NAME='career'></A>
<ul>
<li><a href="http://www.510systems.com/">510 Systems</a> - Senior Engineer, May 2008 - Present
</li>
<li><a href="http://www.lindenlab.com">Linden Lab</a> - Senior Software Developer, June 2006 - April 2008
</li>
<li><a href="http://www.botball.org">KISS Institute for Practical Robotics</a> - Software Developer/Robotics Engineer, December 2002 - May 2006
</li>
<li><a href="http://www.microsoft.com">Microsoft</a> - Software Development Engineer in Test Intern for Provisioning Framework Group, May 2001 - August 2001
</li>
<li><a href="http://www.microsoft.com">Microsoft Research</a> - Microsoft Student Consultant at the University of Oklahoma, September 1998 - May 2001
</li>
<li><a href="http://www.microsoft.com">Microsoft</a> - Security Testing Intern for Microsoft Knowledge Worker Services Group, May 2000 - August 2000
</li>
</ul>

</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Education </h2>
<div class="outline-text-2" id="text-2">


<A NAME='education'></A>
<ul>
<li>BS in Computer Science w/ Mathematics Minor, 1998-2002, University of Oklahoma
</li>
</ul>

</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Publications </h2>
<div class="outline-text-2" id="text-3">


<A NAME='publications'></A>
<ul>
<li>Kyle Machulis, An Open-Source Sexual HCI Research Platform, Sexual
  Interactions Workshop, SIGCHI, Montreal, Quebec, Canada, April 2006
</li>
<li>David P. Miller and Kyle Machulis, Visual Aids For Lunar Rover
  Tele-Operation, Proceedings of iSAIRAS 2005, Munich, Germany,
  September 2005
</li>
<li>Richard LeGrand, Kyle Machulis, David P. Miller, Randy Sargent &amp;
  Anne Wright, The XBC: A Modern Low-Cost Mobile Robot Controller,
  Proceedings of IROS 2005, August 2005
</li>
</ul>

</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Articles </h2>
<div class="outline-text-2" id="text-4">


<A NAME='articles'></A>
<ul>
<li>Kyle Machulis, Biometrics in the Bedroom, Arse Elektronika 2009 Anthology, October 2010
</li>
<li>Thomas Roche, Kyle Machulis, Getting the Message Across, Arse Elektronika 2007 Anthology (Writeup by Thomas Roche of the AE 2007 presentation by Kyle Machulis), October 2008
</li>
<li>Kyle Machulis, <a href="http://www.gamesetwatch.com/2008/03/analysis_why_the_novint_falcon.php">Everything I know about the Novint Falcon</a> (Reprint from nonpolynomial.com), GameSetWatch, March 2008
</li>
<li>Kyle Machulis (as Isabelle Pavlova), <a href="http://www.mmorgy.com/2005/12/bundle_of_polys.php">A Bundle of Polys (Excerpt)</a>, Sex In Video Games (Author: Brenda Brathwaite), Charles River Media, September 2006
</li>
<li>Kyle Machulis, <a href="http://www.nerve.com/dispatches/machulis/gamegirlsadvance/">Game Girls Advance</a>, Nerve.com, December 2005
</li>
</ul>

</div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Exhibitions </h2>
<div class="outline-text-2" id="text-5">


<A NAME='exhibitions'></A>

</div>

<div id="outline-container-5-1" class="outline-3">
<h3 id="sec-5-1">Group </h3>
<div class="outline-text-3" id="text-5-1">

<ul>
<li>Cyberfest, November 2010, St. Petersberg, Russia
</li>
<li>Technosexual Bodies, April 2010, Hong Kong, China
</li>
<li>Roboexotica Exhibition, December 2009, Vienna, Austria
</li>
<li>Arse Elektronika Exhibition, September 2007, San Francisco, CA
</li>
</ul>

</div>
</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Presentations/Lectures/Conference Panels </h2>
<div class="outline-text-2" id="text-6">


<A NAME='presentations'></A>
<ul>
<li>OpenKinect Overview, NetExplorateur Zoom, Paris, France, June 2011
</li>
<li>OpenYou and the Quantified Coder Project, Quantified Self Conference, Mountain View, CA, May 2011
</li>
<li>OpenKinect Overview, Maker Faire, San Mateo, CA, May 2011
</li>
<li>OpenYou and the Quantified Coder Project, Maker Faire, San Mateo, CA, May 2011
</li>
<li>OpenYou and the Quantified Coder Project, Google IO, San Francisco, CA, May 2011
<ul>
<li><a href="http://www.youtube.com/watch?v=52Ml_zax4A0#t=12m47s">Video @ Youtube</a>
</li>
</ul>

</li>
<li>Robotic Vision and Rock Climbing Tracking, 3D Vision Meetup, Techshop, San Francisco, CA, January 2011
</li>
<li>OpenKinect Overview, 3D Vision Meetup, Techshop, Menlo Park, CA, December 2010
</li>
<li>OpenKinect Overview, ARDevCamp Bay Area @ GAFFTA, San Francisco, CA, December 2010
</li>
<li>OpenKinect Overview, Nerd Night @ Rickshaw Show, San Francisco, CA, December 2010
<ul>
<li><a href="http://vimeo.com/17895177">Video @ Vimeo</a>
</li>
</ul>

</li>
<li>OpenKinect Overview, Dorkbot @ Snibbe Interactive, San Francisco, CA, November 2010
</li>
<li>Reusing Fun, Hackers Conference 2010, Santa Cruz, CA, November 2010
</li>
<li>Reusing Fun, Subotron, Vienna, Austria, September 2010
</li>
<li>Paraflows 2010, Vienna, Austria, September 2010
</li>
<li>Monochrom #26-34 Reading, San Francisco, CA, April 2010
</li>
<li>Getting the Message Across (Teledildonics and Sex Technology), Vienna Art Week, Vienna, Austria, November 2009
</li>
<li>Robotics Panel, Roboexotica, Vienna, Austria, December 2009
</li>
<li>Biometrics in the Bedroom, Arse Elektronika 2009, San Francisco, CA, October 2009
</li>
<li>Control, or Lack Thereof, Metaverse U, Stanford University, Stanford, CA, May 2009
</li>
<li>Teledildonics and Sex Technology, Edges, Bay Area, CA, June 2008
</li>
<li>BSDM and Web 2.0 Panel, Leather Leadership Conference XII, San Francisco, CA, April 2008
</li>
<li>Getting the Message Across (Teledildonics and Sex Technology), O'Reilly Emerging Technologies Conference, San Diego, CA, March 2008
</li>
<li>Second Life Panel, Further Confusion 2008, San Jose, CA, January 2008
</li>
<li>Avatar Creativity Panel, Orange Presents: Identity Summit, Orange 1, Second Life, November 2007
</li>
<li>Getting the Message Across (Teledildonics and Sex Technology), Arse Elektronika, San Francisco, CA, October 2007
<ul>
<li><a href="http://vimeo.com/451452">Video @ Vimeo</a>
</li>
</ul>

</li>
<li>Storytelling, Writers With Drinks, The Makeout Room, San Francisco, CA, June 2007
</li>
<li>Teledildonics Presentation, Dorkbot, Porn Palace, San Francisco, CA, May 2007
</li>
<li>Teledildonics Presentation, Sex Hacks, Center for Sex and Culture, San Francisco, CA, May 2007
</li>
<li>Building an Art Portfolio in Second Life, GDX, Savannah, GA, April 2007
</li>
<li>Sex and Computational Technology Panel, SXSW 2007 Interactive, Austin, TX, March 2007
</li>
<li>Second Life Panel, Further Confusion 2007, San Jose, CA, January 2007
</li>
<li>Sex and the Gaming Couple Panel, Computers, Couples, and Gaming, Ruby Skye, San Francisco, CA, November 2006
</li>
<li>Sex and Second Life Panel, Second Life Community Convention, Fort Mason, San Francisco, CA, August 2006
<ul>
<li><a href="http://www.youtube.com/watch?v=6znaAWhBE7c">Video @ Youtube</a>
</li>
</ul>

</li>
<li>Sex in Games, European Women in Games Conference, University of Teesside, Middlesbrough, UK, July 2006
</li>
<li>An Open Source Platform for Sexual Interaction Research, Sexual Interactions Workshop, SIGCHI 2006, Montreal, Canada, April 2006
</li>
<li>Sex In Games w/ Brenda Brathwaite, Game Developers Conference, San Jose, California, March 2006
</li>
<li>Secret Life of Sex in Games Panel, South by Southwest Interactive, Austin, TX, March 2006
</li>
<li>Sex In Games w/ Brenda Brathwaite, Women's Game Conference/Austin Games Conference, Austix, TX, October 2005
</li>
</ul>

</div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Visiting Artist Lectures </h2>
<div class="outline-text-2" id="text-7">

<ul>
<li>Subotron, Vienna, Austria, September 2010
</li>
<li>Vienna Art Week, Vienna, Austria, November 2009
</li>
<li>University of Applied Sciences, Graz, Austria, November 2009
</li>
</ul>

</div>

</div>

<div id="outline-container-8" class="outline-2">
<h2 id="sec-8">Residencies </h2>
<div class="outline-text-2" id="text-8">


<A NAME='residencies'></A>
<ul>
<li>Quatier21/Monochrom, Museumsquartier, Vienna, Austria, November-December 2009
</li>
</ul>

</div>

</div>

<div id="outline-container-9" class="outline-2">
<h2 id="sec-9">Workshops </h2>
<div class="outline-text-2" id="text-9">

<ul>
<li>Open Teledildonics Workshop, WORM, Rotterdam, The Netherlands, September 2010
</li>
</ul>

</div>

</div>

<div id="outline-container-10" class="outline-2">
<h2 id="sec-10">Honors and Awards </h2>
<div class="outline-text-2" id="text-10">


<A NAME='awards'></A>
<ul>
<li>Interaction Design Award, Roboexotica 2009
</li>
<li>Golden Kleene Award, Arse Elektronika 2007
</li>
</ul>

</div>

</div>

<div id="outline-container-11" class="outline-2">
<h2 id="sec-11">Bibliography </h2>
<div class="outline-text-2" id="text-11">


<A NAME='bibliography'></A>
<ul>
<li><a href="http://www.technologyreview.com/biomedicine/37784/#.ThG-CbnBVqk.twitter">The Measured Life</a>, MIT Technology Review, July 2011
</li>
<li><a href="http://www.wired.com/magazine/2011/06/mf_kinect/">Kinect Hackers Are Changing the Future of Robotics</a>, Wired, June 2011
</li>
<li><a href="http://www.businessweek.com/magazine/content/11_04/b4212028870272.htm">Microsoft's Ambivilence About Kinect Hackers</a>, January 2011
</li>
<li><a href="http://news.cnet.com/8301-13772_3-20025804-52.html">Kinect Sex is here, game company says</a>, CNet, December 2011
</li>
<li><a href="http://news.cnet.com/8301-13772_3-20024024-52.html">No Kinect Sex Yet, but the potential is there</a>, CNet, November 2010
</li>
<li><a href="http://www.newscientist.com/article/dn19762-inside-the-race-to-hack-the-kinect.html">Inside the Race to Hack the Kinect</a>, New Scientist, November 2010
</li>
<li><a href="http://www.delta.tudelft.nl/nl/archief/artikel/de-techniek-van-sexspeeltjes/21703">De techniek van sexspeeltjes</a>, Delta, September 2010
</li>
<li><a href="http://ready-up.net/features/emotion-in-motion-where-is-sex-in-gaming-today/">Emotion in Motion - Where is sex in gaming today?</a>, ready-up.net, September 2009
</li>
<li><a href="http://www.oreillynet.com/conferences/blog/2008/03/really_really_really_intimate.html">Really, Really, Really Intimate Interfaces @ ETech 2008</a>, O'ReillyNet, March 2008
</li>
<li><a href="http://www.gametap.com/home/read/article/4125">GDC 08: Sex Comes Out of the Closet</a>, Gametap.com, February 2008
</li>
<li><a href="http://blog.makezine.com/archive/2008/01/yoyo_core_wii_yoyo_musica.html">Yo-Yo Core</a>, Make Magazine Blog, January 2008
</li>
<li><a href="http://www.webmd.com/sex-relationships/features/virtual-sex">Virtual Sex</a>, WebMD, January 2008
</li>
<li><a href="http://timesofindia.indiatimes.com/Review/Sex_in_a_virtual_world/articleshow/2661264.cms">Sex in a Virtual World</a>, Times of India, December 2007
</li>
<li><a href="http://reviews.cnet.com/mp3-insider/8301-6490_7-9792886-49.html?tag=head">Weird Science: Lisa the Foreplay Robot</a>, CNet MP3 Insider, October 2007
</li>
<li><a href="http://www.theregister.co.uk/2007/10/09/arse_elektronika/">Rise of the f*cking machines: Arse Elektronika bumps uglies with Web 2.0</a>, The Register, October 2007
</li>
<li><a href="http://www.washingtonpost.com/wp-dyn/content/article/2007/10/18/AR2007101802453.html">Standing Up to Takedown Notices</a>, Washington Post, October 2007
</li>
<li><a href="http://www.news.com/The-copyright-buzz-from-the-Electric-Slide/2008-1026_3-6188297.html">The Copyright Buzz from the Electric Slide</a>, news.com, June 2007
</li>
<li><a href="http://www.eff.org/deeplinks/2007/05/electric-slide-creator-calls-online-takedown-campaign">Electric Slide Creator Calls Off Online Tackdown Campaign</a>, EFF.org, May 2007
</li>
<li><a href="http://sexuality.about.com/od/sexandtechnology/a/CHI2006review.htm">Review of the Sexual Interactions Workshop at CHI 2006</a>, About.com : Sexuality, May 2006
</li>
<li><a href="http://distro.nonpolynomial.com/files/xboxukarticle.pdf">Is Filth The Future?</a>, Xbox World UK, April 2006
</li>
<li><a href="http://www.foxnews.com/story/0,2933,190894,00.html">Sex Replaces Fighting in Online Games</a>, FOX News, April 2006
</li>
<li><a href="http://news.com.com/Roomba+takes+Frogger+to+the+asphalt+jungle/2100-1043-6049922.html?part=dht&amp;tag=nl.e433">Roomba takes Frogger to the Asphalt Jungle</a>, news.com, March 2006
</li>
<li><a href="http://www.austinchronicle.com/issues/dispatch/2006-03-03/screens_feature2.html">Reciprocal Demand</a>, Austin Chronical, March 2006
</li>
<li><a href="http://news.com.com/2061-10797_3-6049848.html?tag=nl">Sex Alive and Well in Video Games</a>, CNet, March 2006
</li>
<li><a href="http://www.gamasutra.com/php-bin/news_index.php?story=8572">SXSW: My Blue World: Game Experts Give Red Light Talk</a>, Gamasutra, March 2006
</li>
<li><a href="http://www.fleshbot.com/sex/videogames/sex-in-video-games-sxsw-161623.php">Fleshbot - Sex in Video Games at SXSW</a>, Fleshbot, March 2006
</li>
<li><a href="http://www.wired.com/news/culture/0,70065-0.html">Games That Get Your Groove On</a>, Bonnie Ruberg, Wired.com, January 2006
</li>
<li><a href="http://www.wired.com/news/technology/0,70058-1.html">Machinima For The Masses</a>, Annalee Newitz, Wired.com, January 2006
</li>
<li><a href="http://www.tinynibbles.com/blogarchives/2005/12/top_ten_sexiest.html">Top 10 Sexiest Geeks of 2005</a>, Violet Blue, Tiny Nibbles, December 2005
</li>
<li><a href="http://www.wired.com/news/culture/0,1284,69720,00.html">You're the Present, You Sexy Geek</a>, Regina Lynn, Wired.com, December 2005
</li>
<li><a href="http://www.wired.com/news/culture/0,1284,69878,00.html">Cyberporn Sells in a Virtual World</a>, Bonnie Ruberg, Wired.com, December 2005
</li>
<li><a href="http://www.gamergod.com/article.php?article_id=2645">Getting a Rise From the "Sex in Games" Presentation at WGC</a>, Gamergod.com, November 2005
</li>
<li><a href="http://www.ggl.com/news.php?NewsId=1253">Sex In Games: More than the Sound of One Hand Clapping</a>, Mahmood Ali, Global Gaming League, November 2005
</li>
<li><a href="http://www.wired.com/news/culture/0,1284,67719,00.html">Build Your Dream Sex Machine</a>, Regina Lynn, Wired.com, June 2005
</li>
</ul>

</div>
</div>
