<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Deldo
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2009
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Source</h2>
<div class="outline-text-2" id="text-3">

<ul>
<li><a href="http://www.github.com/qdot/deldo/">Deldo @ Github</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Short Description</h2>
<div class="outline-text-2" id="text-4">

<p>Sex Toy Control and Teledildonics mode for emacs
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Tools</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>emacs
</li>
<li>elisp
</li>
<li>trancevibrator
</li>
<li>OpenSoundControl
</li>
<li>Python
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Videos</h2>
<div class="outline-text-2" id="text-6">

<ul>
<li><a href="http://www.youtube.com/watch?v=D1sXuHnf_lo">Deldo Presentation @ Youtube</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Bibliography</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li>EmacsWiki: <a href="http://www.emacswiki.org/emacs/Deldo">Deldo</a>
</li>
</ul>

</div>
</div>
