<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Drink Bot/Bartris/Adult Mario
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2009
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Source</h2>
<div class="outline-text-2" id="text-3">

<ul>
<li><a href="http://www.github.com/qdot/bartris">Bartris @ Github</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Short Description</h2>
<div class="outline-text-2" id="text-4">

<p>Drink mixer with video game controls
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Tools</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>Arduino
</li>
<li>FCEUX NES Emulator
</li>
<li>Python
</li>
<li>OpenSoundControl
</li>
<li>amBX Environment Feedback System
</li>
<li>libambx
</li>
<li>Rez Trancevibrator
</li>
<li>libtrancevibe
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Exhibitions</h2>
<div class="outline-text-2" id="text-6">

<ul>
<li>Roboexotica 2009, Vienna, Austria
</li>
</ul>

</div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Videos</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li><a href="http://www.youtube.com/watch?v=qafivdcSekM">Bartris @ Youtube</a>
</li>
<li><a href="http://www.youtube.com/watch?v=J8yJYo29jrM">Bartris Stress Test @ Youtube</a>
</li>
<li><a href="http://www.youtube.com/watch?v=7kiKE3lif8Q">Adult Mario @ Youtube</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-8" class="outline-2">
<h2 id="sec-8">Images</h2>
<div class="outline-text-2" id="text-8">

<ul>
<li><a href="http://www.flickr.com/photos/qdot76367/sets/72157622852743956/">Bartris Construction @ Flickr</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-9" class="outline-2">
<h2 id="sec-9">Bibliography</h2>
<div class="outline-text-2" id="text-9">

<ul>
<li>Laughing Squid: <a href="http://laughingsquid.com/adult-mario-bartris-two-video-game-themed-cocktail-robots-at-roboexotica/">Video Game Themed Cocktails</a>
</li>
<li>Hackaday: <a href="http://hackaday.com/2009/12/07/simple-liquid-dispenser-for-auto-cocktails/">Simple liquid dispenser for auto-cocktails</a>
</li>
<li>DVICE: <a href="http://dvice.com/archives/2009/12/adult-mario-rob.php">Adult Mario Rewards You With Booze</a>
</li>
<li>Giant Bomb: <a href="http://www.giantbomb.com/news/super-rum-coke-bros-on-display/1784/">Super Rum and Coke Brothers on Display</a>
</li>
<li>Kotaku: <a href="http://kotaku.com/5418624/mario-tetris-turned-into-robots-that-serve-you-drinks">Mario, Tetris turned into robots that serve you drinks</a>
</li>
</ul>

</div>
</div>
