<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Electric Slide Lawsuit
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Collaborators</h2>
<div class="outline-text-2" id="text-2">

<ul>
<li><a href="http://www.eff.org">Electronic Frontier Foundation</a>
</li>
</ul>


</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Year</h2>
<div class="outline-text-2" id="text-3">

<p>2007
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Short Description</h2>
<div class="outline-text-2" id="text-4">

<p>DMCA lawsuit over video of a line dance performance
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Tools</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li><a href="http://www.eff.org">Electronic Frontier Foundation</a>
</li>
<li><a href="http://www.creativecommons.org">Creative Commons Licensing</a>
</li>
<li>US Court System
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Videos</h2>
<div class="outline-text-2" id="text-6">

<p><a href="http://www.youtube.com/watch?v=y9pCuRHmQvw">FC2009 Concert Footage @ Youtube</a>
</p></div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Bibliography</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li>EFF: <a href="http://www.eff.org/cases/electric-slide-litigation">Electric Slide Litigation</a>
</li>
<li>Washington Post: <a href="http://www.washingtonpost.com/wp-dyn/content/article/2007/10/18/AR2007101802453.html">Standing Up to Takedown Notices</a>
</li>
<li>CNET: <a href="http://news.cnet.com/Electric-Slide-on-slippery-DMCA-slope/2100-1030_3-6156021.html">Electric Slide on a Slippery DMCA Slope</a>
</li>
<li>Gizmodo: <a href="http://gizmodo.com/#!233969/inventor-of-crappy-electric-slide-stop-dancing-like-crap">Inventor of Crappy Electric Slide - Stop Dancing Like Crap</a>
</li>
<li>Techdirt: <a href="http://www.techdirt.com/articles/20070302/172258.shtml">EFF Sues Electric Slide Creator Over DMCA Threat</a>
</li>
<li>Wired: <a href="http://www.wired.com/threatlevel/2007/03/electric_slide_/">Electric Slide Creator No Longer Dancing</a>
</li>
</ul>


</div>
</div>
