<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Snake Game for Exercise Bike
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2005
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Source</h2>
<div class="outline-text-2" id="text-3">

<ul>
<li><a href="https://github.com/qdot/np_boneyard">NPLabs Boneyard</a> @ Github
</li>
</ul>

</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Short Description</h2>
<div class="outline-text-2" id="text-4">

<p>Snake video game with Exercise Bike control
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Tools</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>Exercise Bike
</li>
<li>Xport Botball Controller
</li>
<li>Gameboy Advance
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Articles</h2>
<div class="outline-text-2" id="text-6">

<p><a href="exercise-bike-nibbles-article">Construction Article</a>
</p></div>
</div>
