<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Description</h2>
<div class="outline-text-2" id="text-1">

<p>Force Feedback Reality is a small circuit made to turn analog signals
from different sensors into haptic force feedback events. Using an
ATTiny13 and a variety of sensors, the board allows the user to
augment other senses into touch. For instance, the vibration motor
will speed up as more light is cast on a photoresistor. For
modularity, the sensors can be switched out quickly using the mono
3.5cm jack.
</p></div>
</div>
