<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Fwiktr
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2007
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Source</h2>
<div class="outline-text-2" id="text-3">

<p><a href="http://www.github.com/qdot/fwitkr">Fwiktr @ Github</a>
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Short Description</h2>
<div class="outline-text-2" id="text-4">

<p>Matching twitter captions and flickr images for generative art
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Tools</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>Flickr API
</li>
<li>Twitter API
</li>
<li>Python
</li>
<li>NLTK
</li>
</ul>

</div>
</div>
