<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Keepon Kinect Control
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2011
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Source</h2>
<div class="outline-text-2" id="text-3">

<p><a href="http://www.github.com/qdot/keepoff">http://www.github.com/qdot/keepoff</a>
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Short Description</h2>
<div class="outline-text-2" id="text-4">

<p>Controlling a MyKeepon bot using the Microsoft Kinect
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Tools</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>Hardware: Microsoft Kinect
</li>
<li>Hardware: MyKeepon
</li>
<li>Software: <a href="http://www.openkinect.org">OpenKinect</a>
</li>
<li>Software: <a href="http://www.github.com/qdot/keepoff">KeepOff</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Videos</h2>
<div class="outline-text-2" id="text-6">

<ul>
<li><a href="http://www.youtube.com/watch?v=6XhbYWLnsq0">Kinect Keepon Control Demo</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Bibliography</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li><a href="http://www.engadget.com/2011/11/18/my-keepon-kinect-ing-hackers-and-goths-through-the-art-of-dance/">Engadget</a>
</li>
<li><a href="http://hackaday.com/2011/11/09/reverse-engineering-mykeepon/">HackADay</a>
</li>
</ul>

</div>
</div>
