<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Description</h2>
<div class="outline-text-2" id="text-1">

<p>Rapid prototyping project to make an interesting demo for the <a href="http://www.github.com/qdot/keepoff">KeepOff MyKeepon Reverse Engineering project</a>.
</p>
<p>
Uses:
</p>
<ul>
<li>Arduino + Keepoff <a href="http://www.github.com/qdot/keepoff">http://www.github.com/qdot/keepoff</a> - Control of Keepon Robot
</li>
<li>Processing <a href="http://www.processing.org">http://www.processing.org</a> - tying the whole thing together
</li>
<li>OSCP5 <a href="http://www.sojamo.de/oscP5">http://www.sojamo.de/oscP5</a> - talk to python script that’s
  controlling arduino, already had that written so didn’t write serial
  controls in Processing
</li>
<li>GSVideo <a href="http://gsvideo.sourceforge.net">http://gsvideo.sourceforge.net</a> - for webcam (filming keepon)
</li>
<li>SimpleOpenNI <a href="http://code.google.com/p/simple-openni">http://code.google.com/p/simple-openni</a> - kinect
  recording and skeleton tracking in processing
</li>
<li>libfreenect <a href="http://www.openkinect.org">http://www.openkinect.org</a> - Cross platform kinect access
</li>
<li>Processing running on Linux
</li>
</ul>


<p>
Code available at
</p>
<p>
<a href="http://www.github.com/qdot/keepoff">http://www.github.com/qdot/keepoff</a>
</p>
<p>
The goth dance is a running joke from the Art and Code conference at
CMU, held October 2011. For those not familiar with the youtube meme,
see <a href="http://www.youtube.com/watch?v=PvNrjcg3WjA">http://www.youtube.com/watch?v=PvNrjcg3WjA</a>.
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Videos</h2>
<div class="outline-text-2" id="text-2">


</div>

<div id="outline-container-2-1" class="outline-3">
<h3 id="sec-2-1">Kinect Keepon Control Demo</h3>
<div class="outline-text-3" id="text-2-1">


<iframe width="420" height="315"
src="http://www.youtube.com/embed/6XhbYWLnsq0" frameborder="0"
allowfullscreen></iframe>
</div>
</div>
</div>
