<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Description</h2>
<div class="outline-text-2" id="text-1">

<p>Remote controlled RGB lighting system for kites. Allows users to
control the lights via a multitouch interface, by processing audio (so
the lights can be sequenced to music), or through other code. Kite and
ground base station talk wirelessly, so kite is free to move and do
tricks.
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Video</h2>
<div class="outline-text-2" id="text-2">


<iframe
src="http://player.vimeo.com/video/2138821?portrait=0&amp;color=01AAEA"
width="400" height="300" frameborder="0"></iframe><p><a
href="http://vimeo.com/2138821">Kitelight w/ iPhone Controls</a> from
<a href="http://vimeo.com/user154518">qDot</a> on <a
href="http://vimeo.com">Vimeo</a>.</p>

<iframe
src="http://player.vimeo.com/video/1392439?portrait=0&amp;color=01AAEA"
width="400" height="300" frameborder="0"></iframe><p><a
href="http://vimeo.com/1392439">KiteLight - First Demo Flight</a> from
<a href="http://vimeo.com/user154518">qDot</a> on <a
href="http://vimeo.com">Vimeo</a>.</p>
</div>
</div>
