<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Name</h2>
<div class="outline-text-2" id="text-1">

<p>libnifalcon
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Short Description</h2>
<div class="outline-text-2" id="text-2">

<p>Cross platform driver for the Novint Falcon
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Status</h2>
<div class="outline-text-2" id="text-3">

<p>Active
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Lead</h2>
<div class="outline-text-2" id="text-4">

<p>Kyle Machulis
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Contributors</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>Jared Allen
</li>
<li>Alastair Barrow
</li>
<li>Niall Begley
</li>
<li>Edgar Berdahl
</li>
<li>Axel Kohlmeyer
</li>
<li>Steven Martin 
</li>
<li>Kevin Ouellet
</li>
<li>Devanshi Shah
</li>
<li>Stephen Sinclair
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Source</h2>
<div class="outline-text-2" id="text-6">

<p><a href="http://www.github.com/qdot/libnifalcon">libnifalcon @ github</a>
</p></div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Downloads</h2>
<div class="outline-text-2" id="text-7">

<p><a href="http://www.github.com/qdot/libnifalcon/downloads">Downloads @ github</a>
</p></div>

</div>

<div id="outline-container-8" class="outline-2">
<h2 id="sec-8">Bug Tracking</h2>
<div class="outline-text-2" id="text-8">

<p><a href="http://www.github.com/qdot/libnifalcon/issues">Issues @ github</a>
</p></div>

</div>

<div id="outline-container-9" class="outline-2">
<h2 id="sec-9">Projects Using</h2>
<div class="outline-text-2" id="text-9">

<ul>
<li><a href="http://h3d.org">H3D</a>
</li>
<li><a href="http://www.cs.unc.edu/Research/vrpn/">VRPN</a>
</li>
</ul>


</div>
</div>
