<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Lifecycle
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2005
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Source</h2>
<div class="outline-text-2" id="text-3">

<ul>
<li><a href="https://github.com/qdot/np_boneyard">NPLabs Boneyard</a> @ Github
</li>
</ul>

</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Short Description</h2>
<div class="outline-text-2" id="text-4">

<p>Driving Second Life vehicles via exercise bike
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Tools</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>Exercise Bike
</li>
<li>Xport Botball Controller (FPGA + Gameboy Advance)
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Articles</h2>
<div class="outline-text-2" id="text-6">

<ul>
<li>LifeCycle Build Explanation
</li>
</ul>

</div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Bibliography</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li><a href="http://www.growinokc.com/index.php?src=news&amp;submenu=NewsforOKCEntrepreneurs&amp;srctype=detail&amp;category=News&amp;refno=70&amp;view=news_detail_basic">Entrepreneur tackles virtual Wild West</a> - Oklahoma City Journal Record
</li>
<li><a href="http://nwn.blogs.com/nwn/2005/10/on_a_bicycle_bu.html">On a Bicycle Built for 2L</a> - New World Notes
</li>
</ul>

</div>
</div>
