<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Description</h2>
<div class="outline-text-2" id="text-1">

<p>Second Life is an incredibly immersive world of user created
content. However, there is only so much immersion that can happen
through a keyboard/mouse control scheme. There are many different ways
to control vehicles in real life, such as steering wheels, pedals,
handle bars, and flight sticks. Implementing these control structures
in Second Life allows users to get closer to the virtual world by
giving them mechanisms they are familiar with in the real world.
</p>
<p> 
The bicycle is used around the world for cheap, self-powered
transportation, and has embedded itself into many interesting
contextual situations. Romantic ideas such as biking through the park
or using paddle boats, the thrill of the Tour De France, the metaphor
of training wheels, are all based on bicycles. Using the LifeCycle,
users will now be able to move themselves from place to place in the
Second Life world using a stationary exercise bike.
</p></div>
</div>
