<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>CSHS Controls for MARTE Drill
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Company</h2>
<div class="outline-text-2" id="text-2">

<p><a href="http://www.kipr.org">KISS Institute for Practical Robotics</a>
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Website</h2>
<div class="outline-text-2" id="text-3">

<p><a href="http://marte.arc.nasa.gov">MARTE Project Website</a>
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Lead</h2>
<div class="outline-text-2" id="text-4">

<ul>
<li>David Miller
</li>
</ul>

</div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Collaborators</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>Tim Hunt
</li>
<li>Matt Roman
</li>
<li>Alois Winterholler
</li>
<li>Rich LeGrand
</li>
</ul>


</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Year</h2>
<div class="outline-text-2" id="text-6">

<p>2005
</p></div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Short Description</h2>
<div class="outline-text-2" id="text-7">

<p>Controls for Core Sample Handling System for MARTE Drill
</p></div>

</div>

<div id="outline-container-8" class="outline-2">
<h2 id="sec-8">Tools</h2>
<div class="outline-text-2" id="text-8">

<ul>
<li>ARM Assembly
</li>
<li>FPGA
</li>
<li>C/C++
</li>
</ul>

</div>

</div>

<div id="outline-container-9" class="outline-2">
<h2 id="sec-9">Images</h2>
<div class="outline-text-2" id="text-9">


</div>
</div>
