<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Description</h2>
<div class="outline-text-2" id="text-1">

<p>An interactive art piece that ties together real life and the Second
Life virtual world. A Wiimote game controller is embedded in a real
object which visitors can throw/kick. The velocity information is
taken from the wiimote's accelerometer, and relayed to objects inside
Second Life. These messages cause the objects to be physically
triggered, flying around the room in a haphazard way.
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Project Description by Lead Artist</h2>
<div class="outline-text-2" id="text-2">

<p><i>Missing a kick | at the icebox door | It closed anyway</i>
</p>
<p>
Haiku by Jack Kerouac
</p>
<p>
"Missing a kick" gets both worlds mixed by a real kick. The visitor's
operation as well as the operation's effect becomes displaced in real
time in a virtual world. The ultimate kick becomes virtualized by
multiplying the physiological characteristics of a chair and its
effect gets utopian. This kick visualizes the opportunity of the
result of an action and inworld visitors will kick chairs themselves
and all chairs will trigger other wrongdoings and misconducts in the
virtual environment.
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Video</h2>
<div class="outline-text-2" id="text-3">


<iframe
src="http://player.vimeo.com/video/20976660?title=0&amp;byline=0&amp;portrait=0"
width="400" height="225" frameborder="0"></iframe><p><a
href="http://vimeo.com/20976660">MISSING A KICK</a> from <a
href="http://vimeo.com/user3137836">Pinkpink Sorbet</a> on <a
href="http://vimeo.com">Vimeo</a>.</p>
</div>
</div>
