<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Missing a Kick
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Lead</h2>
<div class="outline-text-2" id="text-2">

<ul>
<li>Xpertina Marilu
</li>
</ul>

</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Collaborators</h2>
<div class="outline-text-2" id="text-3">

<ul>
<li>Kyle Machulis
</li>
<li>Magnus Wurzer
</li>
</ul>


</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Year</h2>
<div class="outline-text-2" id="text-4">

<p>2010
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Short Description</h2>
<div class="outline-text-2" id="text-5">

<p>SL Art Piece with Wiimote triggering
</p></div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Medium</h2>
<div class="outline-text-2" id="text-6">

<p>Second Life
</p></div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Tools</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li>Wiimote
</li>
<li>OSCulator
</li>
<li>Python
</li>
<li>OpenSoundControl
</li>
</ul>

</div>

</div>

<div id="outline-container-8" class="outline-2">
<h2 id="sec-8">Exhibitions</h2>
<div class="outline-text-2" id="text-8">

<ul>
<li>Cyberfest, 11/2010, St. Petersberg, Russia
</li>
</ul>

</div>

</div>

<div id="outline-container-9" class="outline-2">
<h2 id="sec-9">Videos</h2>
<div class="outline-text-2" id="text-9">

<p><a href="http://vimeo.com/20976660">Missing a Kick @ Vimeo</a>
</p></div>
</div>
