<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Moaning Lisa
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Lead</h2>
<div class="outline-text-2" id="text-2">

<ul>
<li><a href="http://ganucheau.com/">Matt Ganucheau</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Collaborators</h2>
<div class="outline-text-2" id="text-3">

<ul>
<li><a href="http://www.counter-productive.com">Kelly Moore</a>
</li>
</ul>


</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Year</h2>
<div class="outline-text-2" id="text-4">

<p>2007
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Short Description</h2>
<div class="outline-text-2" id="text-5">

<p>Interactive mannequin as sexual interface
</p></div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Medium</h2>
<div class="outline-text-2" id="text-6">

<p>Digital Art
</p></div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Tools</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li>Programming: Max/MSP
</li>
<li>Hardware: Maker Board
</li>
</ul>

</div>

</div>

<div id="outline-container-8" class="outline-2">
<h2 id="sec-8">Exhibitions</h2>
<div class="outline-text-2" id="text-8">

<ul>
<li>Arse Elektronika 2007
</li>
</ul>

</div>

</div>

<div id="outline-container-9" class="outline-2">
<h2 id="sec-9">Videos</h2>
<div class="outline-text-2" id="text-9">

<ul>
<li><a href="http://www.youtube.com/watch?v=4zWt4_gh25c">Moaning Lisa @ CNet</a>
</li>
<li><a href="http://www.youtube.com/watch?v=7eowweTbB1U">Moaning Lisa Presentation @ AE2007</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-10" class="outline-2">
<h2 id="sec-10">Images</h2>
<div class="outline-text-2" id="text-10">

<ul>
<li><a href="http://www.flickr.com/photos/qdot76367/sets/72157602223532497/">Moaning Lisa Construction @ Flickr</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-11" class="outline-2">
<h2 id="sec-11">Bibliography</h2>
<div class="outline-text-2" id="text-11">

<ul>
<li>Synthtopia - <a href="http://www.synthtopia.com/content/2007/11/26/moaning-lisa/">Moaning Lisa: The Most Bizarre Electronic Music Instrument Ever</a>
</li>
</ul>

</div>
</div>
