<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Name</h2>
<div class="outline-text-2" id="text-1">

<p>np_thirdspacevest
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Short Description</h2>
<div class="outline-text-2" id="text-2">

<p>Max/Pd External for the Third Space Vest Haptic Device
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Libraries Used</h2>
<div class="outline-text-2" id="text-3">

<ul>
<li>Flext
</li>
<li>libthirdspacevest
</li>
</ul>

</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Source</h2>
<div class="outline-text-2" id="text-4">

<p><a href="http://www.github.com/qdot/np_thirdspacevest">Source @ Github</a>
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Downloads</h2>
<div class="outline-text-2" id="text-5">

<p><a href="http://www.github.com/qdot/np_thirdspacevest">Downloads @ Github</a>
</p></div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Bug Tracking</h2>
<div class="outline-text-2" id="text-6">

<p><a href="http://www.github.com/qdot/np_thirdspacevest/issues">Issues @ Github</a>
</p></div>
</div>
