<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>OpenYou.org
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">URL</h2>
<div class="outline-text-2" id="text-2">

<p><a href="http://www.openyou.org">http://www.openyou.org</a>
</p>
</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Years Active</h2>
<div class="outline-text-2" id="text-3">

<p>2011-Present
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Short Description</h2>
<div class="outline-text-2" id="text-4">

<p>Reverse engineering health and medical devices
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Bibliography</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>MIT Tech Review: <a href="http://www.technologyreview.com/biomedicine/37784/">The Measured Life</a>
</li>
<li>Quantified Self: <a href="http://quantifiedself.com/2011/04/kyle-machulis-hacks-your-health-hardware/">Kyle Machulis Hacks Your Health Hardware</a>
</li>
</ul>

</div>
</div>
