<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Pen15 Board
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Collaborators</h2>
<div class="outline-text-2" id="text-2">

<ul>
<li><a href="http://www.birdbrainlabs.com">Ben Peoples @ Bird Brain Labs</a>
</li>
</ul>


</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Year</h2>
<div class="outline-text-2" id="text-3">

<p>2011
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Source</h2>
<div class="outline-text-2" id="text-4">

<p><a href="http://www.github.com/qdot/pen15-board">http://www.github.com/qdot/pen15-board</a>
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Short Description</h2>
<div class="outline-text-2" id="text-5">

<p>Vibrator control shield for the Arduino
</p></div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Tools</h2>
<div class="outline-text-2" id="text-6">

<ul>
<li>Hardware: <a href="http://www.arduino.cc">Arduino</a>
</li>
</ul>

</div>
</div>
