<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Mancala for Pocket PC
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>1999
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Short Description</h2>
<div class="outline-text-2" id="text-3">

<p>Small mancala game for Windows CE 2
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Tools</h2>
<div class="outline-text-2" id="text-4">

<ul>
<li>C++
</li>
<li>Windows CE
</li>
</ul>

</div>
</div>
