<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Second Life Teledildonics
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2005
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Source</h2>
<div class="outline-text-2" id="text-3">

<ul>
<li><a href="https://github.com/qdot/np_boneyard">NPLabs Boneyard</a> @ Github
</li>
</ul>

</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Short Description</h2>
<div class="outline-text-2" id="text-4">

<p>Sex toy control via Second Life
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Tools</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>Second Life
</li>
<li>Trancevibrator
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Articles</h2>
<div class="outline-text-2" id="text-6">

<ul>
<li>Slashdong - Sex and Second Life
</li>
</ul>

</div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Videos</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li><a href="http://www.youtube.com/watch?v=6znaAWhBE7c">qDot Bunnyhug @ SLCC 2006</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-8" class="outline-2">
<h2 id="sec-8">Bibliography</h2>
<div class="outline-text-2" id="text-8">

<ul>
<li>Wired: <a href="http://www.wired.com/gaming/virtualworlds/commentary/sexdrive/2006/08/71657">Second Life Gets Sexier</a>
</li>
<li>Book: <a href="http://www.panmacmillan.com/titles/displayPage.asp?PageTitle=Individual Title&amp;BookID=403881">The Unofficial Tourists Guide to Second Life</a> 
<ul>
<li><a href="http://books.google.com/books?id=mGOD2Jrf_0QC&amp;pg=PA208&amp;lpg=PA208&amp;dq=second+life+teledildonics&amp;source=bl&amp;ots=FgD7zfm6f1&amp;sig=1vdBhKVpE2If0IHCXaVX8ANkPzo&amp;hl=en&amp;ei=x4AjTtrsCoGksQO8wMlj&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=9&amp;ved=0CFsQ6AEwCA#v=onepage&amp;q=second life teledildonics&amp;f=false">Google Books Link</a>
</li>
</ul>

</li>
<li>Sameer Halai: <a href="http://www.sameerhalai.com/blog/portfolio/teledildonics-an-ethical-analysis/">Teledildonics: A Legal and Ethical Analysis</a>
</li>
</ul>

</div>
</div>
