<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Description</h2>
<div class="outline-text-2" id="text-1">

<p>A one-day workshop to teach students the basics of the Arduino and
Processing platforms, as well as simple electronics and
mechanics. Instead of using the normal approach of teaching via a
chain of simple projects like making LEDs light up or doing abstract
generative software art, the students are taught to build their own
USB controlled vibrator. They then set about building different
control interfaces for the hardware they built.
</p>
<p>
The workshop consists of 8 modules
</p>
<ul>
<li>Intro to arduino/processing (getting things installed)
</li>
<li>Building a simple arduino motor control circuit
</li>
<li>Intro to sex technology, and development of intimate interfaces
  (hour lecture, original version of presentation from 2007:
  <a href="http://www.vimeo.com/451452">http://www.vimeo.com/451452</a>)
</li>
<li>Simple processing control interface
</li>
<li>Audio control (Basic DSP)
</li>
<li>Biometric control (EEG, pulse, GSR, explanation of biometrics in
  intimate environments, etc&hellip;)
</li>
<li>Network control/Teledildonics
</li>
<li>Further Experiments and discussion
</li>
</ul>


<p>
By the end of the class, students know how to drive small motors via
computer control, and how to create new and interesting control ideas
via cutting edge hardware.
</p></div>
</div>
