<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>DIY Sex Toy Workshop
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2010
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Short Description</h2>
<div class="outline-text-2" id="text-3">

<p>Workshop for building arduino based vibrators
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Tools</h2>
<div class="outline-text-2" id="text-4">

<ul>
<li>Arduino
</li>
<li>Processing
</li>
</ul>

</div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Exhibitions</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>WORM, Rotterdam, NL, September 2010
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Bibliography</h2>
<div class="outline-text-2" id="text-6">

<ul>
<li>TU Delta: <a href="http://www.delta.tudelft.nl/nl/archief/artikel/de-techniek-van-sexspeeltjes/21703">De techniek van sexspeeltjes</a>
</li>
</ul>

</div>
</div>
