<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>Trettio Lighting System
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Year</h2>
<div class="outline-text-2" id="text-2">

<p>2007
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Source</h2>
<div class="outline-text-2" id="text-3">

<p><a href="https://github.com/qdot/ikea-trettio">Ikea Trettio @ Github</a>
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Short Description</h2>
<div class="outline-text-2" id="text-4">

<p>USB control system for Ikea Trettio light set
</p></div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Tools</h2>
<div class="outline-text-2" id="text-5">

<ul>
<li>Arduino
</li>
</ul>

</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Videos</h2>
<div class="outline-text-2" id="text-6">

<ul>
<li><a href="http://vimeo.com/296403">Gesture Based Lighting Control @ Vimeo</a>
</li>
</ul>

</div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Images</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li><a href="http://www.flickr.com/photos/qdot76367/sets/72157601425718028/">Ikea Trettio Lighting Board @ Flickr</a>
</li>
</ul>

</div>
</div>
