<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Description</h2>
<div class="outline-text-2" id="text-1">

<p>Max/MSP patch that generates "Breakcore" style music using messages
from the Twitter Microblogging Service. The patch pulls a message from
the twitter public timeline, uses summed ASCII values per word to
choose a place to loop in the sample, and then plays the loop while
using Text To Speech to broadcast the twitter message. Loop ad naseum.
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Audio</h2>
<div class="outline-text-2" id="text-2">


<object height="81" width="100%"> <param name="movie"
value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F2010132"></param>
<param name="allowscriptaccess" value="always"></param> <embed
allowscriptaccess="always" height="81"
src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F2010132"
type="application/x-shockwave-flash" width="100%"></embed> </object>
<span><a
href="http://soundcloud.com/qdot/actively-gnawing-on-some-guys-head">actively
gnawing on some guy's head</a> by <a
href="http://soundcloud.com/qdot">qDot</a></span>

</div>
</div>
