<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Description</h2>
<div class="outline-text-2" id="text-1">

<p>Yoyo tracking via Wiimote IR Camera. An LED board is mounted in a
yoyo, lighting up whenever the yoyo is spinning. Instead of using the
normal colored LED, an IR LED is used. Due to the high update rate and
resolution of the Wiimote IR camera, the yoyo can be tracked in real
time as tricks are done with it, something not easily possible with
regular computer vision and RGB cameras.
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Video</h2>
<div class="outline-text-2" id="text-2">


<iframe width="425" height="349"
src="http://www.youtube.com/embed/9RqBJgGNiE8" frameborder="0"
allowfullscreen></iframe>

<iframe width="425" height="349"
src="http://www.youtube.com/embed/thy0OxgxoNE" frameborder="0"
allowfullscreen></iframe>
</div>
</div>
