<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Title</h2>
<div class="outline-text-2" id="text-1">

<p>XBC Firmware
</p></div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Company</h2>
<div class="outline-text-2" id="text-2">

<p><a href="http://www.botball.org">KISS Institute for Practical Robotics</a>
</p></div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Website</h2>
<div class="outline-text-2" id="text-3">

<p><a href="http://www.botball.org/ic">Interactive C Website</a>
</p></div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Collaborators</h2>
<div class="outline-text-2" id="text-4">

<ul>
<li>Anne Wright
</li>
<li>Rich Legrand
</li>
</ul>


</div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Year</h2>
<div class="outline-text-2" id="text-5">

<p>2004
</p></div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Short Description</h2>
<div class="outline-text-2" id="text-6">

<p>Firmware/GUI for Xport Botball Controller
</p></div>

</div>

<div id="outline-container-7" class="outline-2">
<h2 id="sec-7">Tools</h2>
<div class="outline-text-2" id="text-7">

<ul>
<li>C/C++
</li>
<li>ARM Assembly
</li>
<li>Interactive C
</li>
<li>Gameboy Advance
</li>
</ul>

</div>

</div>

<div id="outline-container-8" class="outline-2">
<h2 id="sec-8">Videos</h2>
<div class="outline-text-2" id="text-8">

<ul>
<li><a href="http://www.vimeo.com/371015">XBC Vision System @ Vimeo</a>
</li>
</ul>

</div>
</div>
