{% extends "base.html" %}
{% block title %} {{SITENAME}} - About {% endblock %}
{% block content %}
<div class="biopic"></div>
<div class="container">
  <div class="summary">
    <p><b>Kyle Machulis</b>, better known as qDot, is a graduate of the
    University of Oklahoma with a degree in Computer Science. He currently
    spends his days as <A HREF='http://www.mozilla.org'>a mild-mannered engineer</A>, and his nights sitting in front of his computer with the firm belief that someone on the internet cares about what he does.</p>

    <p>Kyle has worked in everything from <a href="http://metafetish.com">sex and technology</a> to <a href="http://openyou.org">health devices</a> to <a href="/portfolio/fc-2009-point-cloud/">self driving cars</a> to <a href="http://openkinect.org">device reverse engineering</a> and more (<a href="/portfolio">see the portfolio page for a more complete list</a>).
    If there was some unifying aspect to all of these projects that he was aware
    of, it would be explained here. However, best he can figure, the only thread
    through all of the projects he's worked on was that he was the one that
    worked on them.</p>

    <p>At least, he thinks he was the one that worked on them.</p>
    <div class="cv">
      {% include "cv.html" %}
    </div>
  </div>
</div>
{% endblock %}
