{% extends "base.html" %}
{% block content %}
<div class="portfolio-index">
  <a NAME="projects"></a>
  <h1>Projects</h1>
  {% for project in PORTFOLIO_SUMMARIES|sort(reverse=True,attribute='date') %}
  {% if project.category == "projects" %}
  {% include "project-box-template.html" %}
  {% endif %}
  {% endfor %}
  <a NAME="professional"></a>
  <h1>Professional</h1>
  {% for project in PORTFOLIO_SUMMARIES|sort(reverse=True,attribute='date') %}
  {% if project.category == "professional" %}
  {% include "project-box-template.html" %}
  {% endif %}
  {% endfor %}
  <a NAME="software"></a>
  <h1>Software</h1>
  {% for project in PORTFOLIO_SUMMARIES|sort(reverse=True,attribute='date') %}
  {% if project.category == "software" %}
  {% include "project-box-template.html" %}
  {% endif %}
  {% endfor %}
  <a NAME="web"></a>
  <h1>Web</h1>
  {% for project in PORTFOLIO_SUMMARIES|sort(reverse=True,attribute='date') %}
  {% if project.category == "web" %}
  {% include "project-box-template.html" %}
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
