{% extends "base.html" %}
{% block content %}
<div class="np-project-content">
  <a NAME="projects"></a>
  <h1>Projects</h1>
  {% for project in PORTFOLIO_SUMMARIES %}
    <a href='{{ project.slug }}'>
      <div class="np-project-box" style="background-image: url('/portfolio/img/{{ project.slug }}/{{ project.slug }}-small.jpg')">
        <div class="np-project-box-title">
          <p>{{ project.title }}</p>
          <p>{{ project.date }}</p>
        </div>
        <div class="np-project-box-description">
          <p>{{ project.summary }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}
