---
layout: default
---
	  <div id="container">
	    <div id="center">
	      <div id="content">
		{{content}}
	      </div>
	    </div>
	  </div>
	  <div id="right">
	    <div class="sidebar">
	      <div class="sidebarSub">
		<h2>Syndication</h2>
		<CENTER><a title="Atom" href="http://www.nonpolynomial.com/atom.xml"><IMG SRC='http://images.nonpolynomial.com/common/syndicate/atom.gif' style='border:0'></a></CENTER>
	      </div>
	      <div class="sidebarSub">
		<h2>Contact</h2>
		<p>Contact kyle by email at kyle at nonpolynomial dot com</p>
	      </div>
	      <div class="sidebarSub">
		<h2>Recent Entries</h2>
		<ul>
		  <LI>Recent Entry</LI>
		</ul>
	      </div>
	      <div class="sidebarSub">
		<h2>Archives</h2>	      
		<ul>
		  <LI>Archives</LI>
		</ul>
	      </div>		
	    </div>
	  </div>
