---
layout: blog
---
{% for post in paginator.posts %}
	<TABLE class="np-post">
	  <TR>
	    <TD class="np-post-nav">
	      <TABLE>
		<TR><TD class="np-up-arrow">
		  &#x25B2;
		</TD></TR>
		<TR>
		  <TD class="np-post-date">
		    <p><a href="{{post.url}}">{{post.date  | date: "%H:%m:%S" }}</a></p>
		    <p><a href="{{post.url}}">{{post.date  | date: "%Y-%m-%d" }}</a></p>
		    <p><a href="{{post.url}}#disqus_thread">View Comments</a></p>
		  </TD>
		</TR>
	      </TABLE>
	    </TD>
	    
	    <td class="np-post-content"> 
	      <div class="np-post-info">
		<div class="np-post-title">
		  <h3>{{post.title}}</h3> 
		</div>
	      </div>
	      <div class="np-post-body"> 
		{{post.content}}
	      </div>
	    </td> 
	  </TR>
	</TABLE>
{% endfor %}
<CENTER><IMG SRC='http://images.nonpolynomial.com/nonpolynomial.com/site/npdivbarlong.png' /></CENTER>
<div class="PostNav">
  <div class="PostPrevious">
    {% if paginator.next_page %}
    &lt;&lt; <a href="/page{{ paginator.next_page}}">Older Posts</a>
    {% endif %}
  </div>
  <div class="PostNext">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/">Newer Posts</a> &gt;&gt;
    {% else %}
    <a href="/page{{ paginator.previous_page }}">Newer Posts</a> &gt;&gt;
    {% endif %}
    {% endif %}
  </div>
</div>
