---
layout: blog
---
<div class="PostContent">
  <div class="PostNav">
    <div class="PostPrevious">
      &lt;&lt; <A HREF='{{ page.previous.url }}'>{{ page.previous.title }}</A>
    </div>
    <div class="PostNext">
      <A HREF='{{ page.next.url }}'>{{ page.next.title }}</A>  &gt;&gt;
    </div>
  </div>

  <CENTER><IMG SRC='http://images.nonpolynomial.com/nonpolynomial.com/site/npdivbarlong.png'></CENTER>
  <div class="PostTitle">
    <h3><A HREF='{{page.url}}'>{{page.title}}</A></h3>
  </div>
  <div class="PostInfo">
    <CENTER><IMG SRC='http://images.nonpolynomial.com/nonpolynomial.com/site/npdivbarshort.png'></CENTER>
    <div class="AlignedText">
      <div class="AlignLeft">
	<a href="{{page.url}}">{{page.date | date: "%H:%m:%S %Y-%m-%d"}}</a>
      </div>
      <div class="AlignRight">
	<a href="{{page.url}}#disqus_thread">View Comments</a>
      </div>
    </div>
  </div>
  <div class="PostBody">
    {{content}}
  </div>
  <CENTER><IMG SRC='http://images.nonpolynomial.com/nonpolynomial.com/site/npdivbarlong.png'></CENTER>
  <div class="PostComments">
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/nonpolynomial/embed.js"></script><noscript><a href="http://nonpolynomial.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>
